In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [5]:
obj.keys

<bound method Series.keys of 0     3
1     6
2     9
3    12
dtype: int64>

In [6]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [7]:
ww2_cas['USA']

400000

In [8]:
#Check which countries had casualties > 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [9]:
#checks if a value is in a series
'USSR' in ww2_cas

True

In [10]:
#convert a series to a dictionary
ww2_cas_dict = ww2_cas.to_dict()

ww2_cas_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [12]:
#convert dictionary back to a series
ww2_cas_series = Series(ww2_cas_dict)

ww2_cas_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [13]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']
countries

['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [14]:
obj2 = Series(ww2_cas_dict,index=countries)

obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
dtype: float64

In [15]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [16]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [17]:
ww2_cas_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [18]:
obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
dtype: float64

In [19]:
ww2_cas_series + obj2

Argentina         NaN
China         6000000
Germany       8600000
Japan         4200000
USA            800000
USSR         17400000
dtype: float64

In [20]:
obj2.name = "World War 2 Casualties"

obj2

China        3000000
Germany      4300000
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
Name: World War 2 Casualties, dtype: float64

In [21]:
obj2.index.name='Countries'
obj2

Countries
China        3000000
Germany      4300000
Japan        2100000
USA           400000
USSR         8700000
Argentina        NaN
Name: World War 2 Casualties, dtype: float64

In [22]:
#attempting to name the casualty total column
obj2.values.name = 'Casualty Total'
obj2

AttributeError: 'numpy.ndarray' object has no attribute 'name'