In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = pd.read_csv('lec25.csv')

In [3]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
dframe = pd.read_csv('lec25.csv',header = None)

In [5]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [6]:
dframe = pd.read_table('lec25.csv',sep=',',header=None)
#for the read_table method, you have to specify a column separator
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
pd.read_csv('lec25.csv',header=None,nrows=3)
#nrows says to only return that number of rows instead of the whole file

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit

In [9]:
pd.read_csv('lec25.csv',header=None).head(1)
#can call the head() method on it as well

   0  1  2  3      4
0  q  r  s  t  apple

In [10]:
dframe.to_csv('mytextdata_out.csv')

In [11]:
import sys

In [12]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [15]:
dframe.to_csv(sys.stdout,sep='|')

|0|1|2|3|4
0|q|r|s|t|apple
1|2|3|4|5|pear
2|a|s|d|f|rabbit
3|5|2|5|7|dog

In [16]:
dframe.to_csv(sys.stdout,sep='|',columns=[0,1,2])
#allows you to only pull certain columns

|0|1|2
0|q|r|s
1|2|3|4
2|a|s|d
3|5|2|5

In [ ]:
url = 'https://docs.python.org/2/library/csv.html'