In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East
7,8,New York Giants,691,581,33,0.542,1925,1305,NFC East
8,9,Denver Broncos,464,400,10,0.537,1960,874,AFC West
9,10,Oakland Raiders,462,406,11,0.532,1960,879,AFC West
10,11,Minnesota Vikings,457,401,10,0.532,1961,868,NFC North
11,12,Indianapolis Colts,508,448,7,0.531,1953,963,AFC South
12,13,Pittsburgh Steelers,618,561,21,0.524,1933,1200,AFC North
13,14,Kansas City Chiefs,432,415,12,0.510,1960,859,AFC West
14,15,Washington Redskins,592,576,27,0.507,1932,1195,NFC East
15,16,Cleveland Browns,469,458,10,0.506,1950,937,AFC North
16,17,San Diego Chargers,428,425,11,0.502,1960,864,AFC West
17,18,St. Louis Rams,552,555,21,0.499,1937,1128,NFC West
18,19,Seattle Seahawks,319,320,0,0.499,1976,639,NFC West
19,20,Philadelphia Eagles,560,594,26,0.486,1933,1180,NFC East
20,21,Tennessee Titans,415,448,6,0.481,1960,869,AFC South
21,22,Carolina Panthers,158,174,1,0.476,1995,333,NFC South
22,23,Buffalo Bills,399,458,8,0.466,1960,865,AFC East
23,24,Jacksonville Jaguars,152,177,0,0.462,1995,329,AFC South
24,25,Detroit Lions,535,637,32,0.458,1930,1204,NFC North
25,26,New York Jets,389,464,8,0.456,1960,861,AFC East
26,27,Cincinnati Bengals,331,408,3,0.448,1968,742,AFC North
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South
28,29,Atlanta Falcons,329,436,6,0.431,1966,771,NFC South
29,30,Houston Texans,90,122,0,0.425,2002,212,AFC South
30,31,Arizona Cardinals,528,729,39,0.422,1920,1296,NFC West
31,32,Tampa Bay Buccaneers,241,385,1,0.385,1976,627,NFC South

In [6]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied*', u'Pct.', u'First Season', u'Total Games', u'Conference'], dtype='object')

In [7]:
nfl_frame.Rank

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
Name: Rank, dtype: int64

In [8]:
nfl_frame.Team

0           Dallas Cowboys
1            Chicago Bears
2        Green Bay Packers
3           Miami Dolphins
4         Baltimore Ravens
5      San Francisco 49ers
6     New England Patriots
7          New York Giants
8           Denver Broncos
9          Oakland Raiders
10       Minnesota Vikings
11      Indianapolis Colts
12     Pittsburgh Steelers
13      Kansas City Chiefs
14     Washington Redskins
15        Cleveland Browns
16      San Diego Chargers
17          St. Louis Rams
18        Seattle Seahawks
19     Philadelphia Eagles
20        Tennessee Titans
21       Carolina Panthers
22           Buffalo Bills
23    Jacksonville Jaguars
24           Detroit Lions
25           New York Jets
26      Cincinnati Bengals
27      New Orleans Saints
28         Atlanta Falcons
29          Houston Texans
30       Arizona Cardinals
31    Tampa Bay Buccaneers
Name: Team, dtype: object

In [10]:
nfl_frame['First Season']

0     1960
1     1920
2     1921
3     1966
4     1996
5     1950
6     1960
7     1925
8     1960
9     1960
10    1961
11    1953
12    1933
13    1960
14    1932
15    1950
16    1960
17    1937
18    1976
19    1933
20    1960
21    1995
22    1960
23    1995
24    1930
25    1960
26    1968
27    1967
28    1966
29    2002
30    1920
31    1976
Name: First Season, dtype: int64

In [11]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                    Team  First Season  Total Games
0         Dallas Cowboys          1960          894
1          Chicago Bears          1920         1357
2      Green Bay Packers          1921         1339
3         Miami Dolphins          1966          792
4       Baltimore Ravens          1996          326
5    San Francisco 49ers          1950         1003
6   New England Patriots          1960          882
7        New York Giants          1925         1305
8         Denver Broncos          1960          874
9        Oakland Raiders          1960          879
10     Minnesota Vikings          1961          868
11    Indianapolis Colts          1953          963
12   Pittsburgh Steelers          1933         1200
13    Kansas City Chiefs          1960          859
14   Washington Redskins          1932         1195
15      Cleveland Browns          1950          937
16    San Diego Chargers          1960          864
17        St. Louis Rams          1937         1128
18      Seattle Seahawks          1976          639
19   Philadelphia Eagles          1933         1180
20      Tennessee Titans          1960          869
21     Carolina Panthers          1995          333
22         Buffalo Bills          1960          865
23  Jacksonville Jaguars          1995          329
24         Detroit Lions          1930         1204
25         New York Jets          1960          861
26    Cincinnati Bengals          1968          742
27    New Orleans Saints          1967          754
28       Atlanta Falcons          1966          771
29        Houston Texans          2002          212
30     Arizona Cardinals          1920         1296
31  Tampa Bay Buccaneers          1976          627

In [12]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','asdf'])
#using a column that doesn't exist

                    Team  First Season  Total Games  asdf
0         Dallas Cowboys          1960          894   NaN
1          Chicago Bears          1920         1357   NaN
2      Green Bay Packers          1921         1339   NaN
3         Miami Dolphins          1966          792   NaN
4       Baltimore Ravens          1996          326   NaN
5    San Francisco 49ers          1950         1003   NaN
6   New England Patriots          1960          882   NaN
7        New York Giants          1925         1305   NaN
8         Denver Broncos          1960          874   NaN
9        Oakland Raiders          1960          879   NaN
10     Minnesota Vikings          1961          868   NaN
11    Indianapolis Colts          1953          963   NaN
12   Pittsburgh Steelers          1933         1200   NaN
13    Kansas City Chiefs          1960          859   NaN
14   Washington Redskins          1932         1195   NaN
15      Cleveland Browns          1950          937   NaN
16    San Diego Chargers          1960          864   NaN
17        St. Louis Rams          1937         1128   NaN
18      Seattle Seahawks          1976          639   NaN
19   Philadelphia Eagles          1933         1180   NaN
20      Tennessee Titans          1960          869   NaN
21     Carolina Panthers          1995          333   NaN
22         Buffalo Bills          1960          865   NaN
23  Jacksonville Jaguars          1995          329   NaN
24         Detroit Lions          1930         1204   NaN
25         New York Jets          1960          861   NaN
26    Cincinnati Bengals          1968          742   NaN
27    New Orleans Saints          1967          754   NaN
28       Atlanta Falcons          1966          771   NaN
29        Houston Texans          2002          212   NaN
30     Arizona Cardinals          1920         1296   NaN
31  Tampa Bay Buccaneers          1976          627   NaN

In [13]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [14]:
nfl_frame.head(6)
#will retrieve the headers plus the first N number of rows. if no number is supplied, will return the first 5 rows.

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West

In [15]:
nfl_frame.tail(4)
#.tail() gives the last rows

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
28,29,Atlanta Falcons,329,436,6,0.431,1966,771,NFC South
29,30,Houston Texans,90,122,0,0.425,2002,212,AFC South
30,31,Arizona Cardinals,528,729,39,0.422,1920,1296,NFC West
31,32,Tampa Bay Buccaneers,241,385,1,0.385,1976,627,NFC South

In [16]:
nfl_frame.ix[3]

Rank                         4
Team            Miami Dolphins
Won                        443
Lost                       345
Tied*                        4
Pct.                     0.562
First Season              1966
Total Games                792
Conference            AFC East
Name: 3, dtype: object

In [19]:
nfl_frame['asdf'] = "Some random value"

In [20]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,asdf
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Some random value
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Some random value
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Some random value
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Some random value
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Some random value
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,Some random value
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East,Some random value
7,8,New York Giants,691,581,33,0.542,1925,1305,NFC East,Some random value
8,9,Denver Broncos,464,400,10,0.537,1960,874,AFC West,Some random value
9,10,Oakland Raiders,462,406,11,0.532,1960,879,AFC West,Some random value
10,11,Minnesota Vikings,457,401,10,0.532,1961,868,NFC North,Some random value
11,12,Indianapolis Colts,508,448,7,0.531,1953,963,AFC South,Some random value
12,13,Pittsburgh Steelers,618,561,21,0.524,1933,1200,AFC North,Some random value
13,14,Kansas City Chiefs,432,415,12,0.510,1960,859,AFC West,Some random value
14,15,Washington Redskins,592,576,27,0.507,1932,1195,NFC East,Some random value
15,16,Cleveland Browns,469,458,10,0.506,1950,937,AFC North,Some random value
16,17,San Diego Chargers,428,425,11,0.502,1960,864,AFC West,Some random value
17,18,St. Louis Rams,552,555,21,0.499,1937,1128,NFC West,Some random value
18,19,Seattle Seahawks,319,320,0,0.499,1976,639,NFC West,Some random value
19,20,Philadelphia Eagles,560,594,26,0.486,1933,1180,NFC East,Some random value
20,21,Tennessee Titans,415,448,6,0.481,1960,869,AFC South,Some random value
21,22,Carolina Panthers,158,174,1,0.476,1995,333,NFC South,Some random value
22,23,Buffalo Bills,399,458,8,0.466,1960,865,AFC East,Some random value
23,24,Jacksonville Jaguars,152,177,0,0.462,1995,329,AFC South,Some random value
24,25,Detroit Lions,535,637,32,0.458,1930,1204,NFC North,Some random value
25,26,New York Jets,389,464,8,0.456,1960,861,AFC East,Some random value
26,27,Cincinnati Bengals,331,408,3,0.448,1968,742,AFC North,Some random value
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South,Some random value
28,29,Atlanta Falcons,329,436,6,0.431,1966,771,NFC South,Some random value
29,30,Houston Texans,90,122,0,0.425,2002,212,AFC South,Some random value
30,31,Arizona Cardinals,528,729,39,0.422,1920,1296,NFC West,Some random value
31,32,Tampa Bay Buccaneers,241,385,1,0.385,1976,627,NFC South,Some random value

In [21]:
nfl_frame['asdf'] = np.arange(32)
#assigns an autoincrementing number to each row for the asdf column from the array created

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,asdf
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,4
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,5
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East,6
7,8,New York Giants,691,581,33,0.542,1925,1305,NFC East,7
8,9,Denver Broncos,464,400,10,0.537,1960,874,AFC West,8
9,10,Oakland Raiders,462,406,11,0.532,1960,879,AFC West,9
10,11,Minnesota Vikings,457,401,10,0.532,1961,868,NFC North,10
11,12,Indianapolis Colts,508,448,7,0.531,1953,963,AFC South,11
12,13,Pittsburgh Steelers,618,561,21,0.524,1933,1200,AFC North,12
13,14,Kansas City Chiefs,432,415,12,0.510,1960,859,AFC West,13
14,15,Washington Redskins,592,576,27,0.507,1932,1195,NFC East,14
15,16,Cleveland Browns,469,458,10,0.506,1950,937,AFC North,15
16,17,San Diego Chargers,428,425,11,0.502,1960,864,AFC West,16
17,18,St. Louis Rams,552,555,21,0.499,1937,1128,NFC West,17
18,19,Seattle Seahawks,319,320,0,0.499,1976,639,NFC West,18
19,20,Philadelphia Eagles,560,594,26,0.486,1933,1180,NFC East,19
20,21,Tennessee Titans,415,448,6,0.481,1960,869,AFC South,20
21,22,Carolina Panthers,158,174,1,0.476,1995,333,NFC South,21
22,23,Buffalo Bills,399,458,8,0.466,1960,865,AFC East,22
23,24,Jacksonville Jaguars,152,177,0,0.462,1995,329,AFC South,23
24,25,Detroit Lions,535,637,32,0.458,1930,1204,NFC North,24
25,26,New York Jets,389,464,8,0.456,1960,861,AFC East,25
26,27,Cincinnati Bengals,331,408,3,0.448,1968,742,AFC North,26
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South,27
28,29,Atlanta Falcons,329,436,6,0.431,1966,771,NFC South,28
29,30,Houston Texans,90,122,0,0.425,2002,212,AFC South,29
30,31,Arizona Cardinals,528,729,39,0.422,1920,1296,NFC West,30
31,32,Tampa Bay Buccaneers,241,385,1,0.385,1976,627,NFC South,31

In [27]:
asdfs = Series(["Levi's Stadium","AT&T Stadium"],index = [5,0])

In [25]:
asdfs

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [28]:
nfl_frame['asdf'] = asdfs
nfl_frame
#this will use the index we assigned in asdfs to find the same index in the nfl_frame data frame and update the column we specify to the corresponding value

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,asdf
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,AT&T Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,NaN
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,NaN
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,NaN
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,NaN
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,Levi's Stadium
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East,NaN
7,8,New York Giants,691,581,33,0.542,1925,1305,NFC East,NaN
8,9,Denver Broncos,464,400,10,0.537,1960,874,AFC West,NaN
9,10,Oakland Raiders,462,406,11,0.532,1960,879,AFC West,NaN
10,11,Minnesota Vikings,457,401,10,0.532,1961,868,NFC North,NaN
11,12,Indianapolis Colts,508,448,7,0.531,1953,963,AFC South,NaN
12,13,Pittsburgh Steelers,618,561,21,0.524,1933,1200,AFC North,NaN
13,14,Kansas City Chiefs,432,415,12,0.510,1960,859,AFC West,NaN
14,15,Washington Redskins,592,576,27,0.507,1932,1195,NFC East,NaN
15,16,Cleveland Browns,469,458,10,0.506,1950,937,AFC North,NaN
16,17,San Diego Chargers,428,425,11,0.502,1960,864,AFC West,NaN
17,18,St. Louis Rams,552,555,21,0.499,1937,1128,NFC West,NaN
18,19,Seattle Seahawks,319,320,0,0.499,1976,639,NFC West,NaN
19,20,Philadelphia Eagles,560,594,26,0.486,1933,1180,NFC East,NaN
20,21,Tennessee Titans,415,448,6,0.481,1960,869,AFC South,NaN
21,22,Carolina Panthers,158,174,1,0.476,1995,333,NFC South,NaN
22,23,Buffalo Bills,399,458,8,0.466,1960,865,AFC East,NaN
23,24,Jacksonville Jaguars,152,177,0,0.462,1995,329,AFC South,NaN
24,25,Detroit Lions,535,637,32,0.458,1930,1204,NFC North,NaN
25,26,New York Jets,389,464,8,0.456,1960,861,AFC East,NaN
26,27,Cincinnati Bengals,331,408,3,0.448,1968,742,AFC North,NaN
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South,NaN
28,29,Atlanta Falcons,329,436,6,0.431,1966,771,NFC South,NaN
29,30,Houston Texans,90,122,0,0.425,2002,212,AFC South,NaN
30,31,Arizona Cardinals,528,729,39,0.422,1920,1296,NFC West,NaN
31,32,Tampa Bay Buccaneers,241,385,1,0.385,1976,627,NFC South,NaN

In [29]:
del nfl_frame['asdf']

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West
6,7,New England Patriots,478,395,9,0.547,1960,882,AFC East
7,8,New York Giants,691,581,33,0.542,1925,1305,NFC East
8,9,Denver Broncos,464,400,10,0.537,1960,874,AFC West
9,10,Oakland Raiders,462,406,11,0.532,1960,879,AFC West
10,11,Minnesota Vikings,457,401,10,0.532,1961,868,NFC North
11,12,Indianapolis Colts,508,448,7,0.531,1953,963,AFC South
12,13,Pittsburgh Steelers,618,561,21,0.524,1933,1200,AFC North
13,14,Kansas City Chiefs,432,415,12,0.510,1960,859,AFC West
14,15,Washington Redskins,592,576,27,0.507,1932,1195,NFC East
15,16,Cleveland Browns,469,458,10,0.506,1950,937,AFC North
16,17,San Diego Chargers,428,425,11,0.502,1960,864,AFC West
17,18,St. Louis Rams,552,555,21,0.499,1937,1128,NFC West
18,19,Seattle Seahawks,319,320,0,0.499,1976,639,NFC West
19,20,Philadelphia Eagles,560,594,26,0.486,1933,1180,NFC East
20,21,Tennessee Titans,415,448,6,0.481,1960,869,AFC South
21,22,Carolina Panthers,158,174,1,0.476,1995,333,NFC South
22,23,Buffalo Bills,399,458,8,0.466,1960,865,AFC East
23,24,Jacksonville Jaguars,152,177,0,0.462,1995,329,AFC South
24,25,Detroit Lions,535,637,32,0.458,1930,1204,NFC North
25,26,New York Jets,389,464,8,0.456,1960,861,AFC East
26,27,Cincinnati Bengals,331,408,3,0.448,1968,742,AFC North
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South
28,29,Atlanta Falcons,329,436,6,0.431,1966,771,NFC South
29,30,Houston Texans,90,122,0,0.425,2002,212,AFC South
30,31,Arizona Cardinals,528,729,39,0.422,1920,1296,NFC West
31,32,Tampa Bay Buccaneers,241,385,1,0.385,1976,627,NFC South

In [31]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
#create a dictionary

In [32]:
city_frame = DataFrame(data)
city_frame
#create a data frame from a dictionary

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000