In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
ser3.reindex(ranger,method='ffill')
#ffill is forward fill. takes values and fills them forward until it hits a key that already has a value

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                  columns=['col1','col2','col3','col4','col5'])
dframe
#reshape allows you to create something different out of the data frame, in this case, it's a matrix
#randn gives you a normal distribution of random numbers

       col1      col2      col3      col4      col5
A  1.741887  0.497219 -0.853438 -0.702500  0.284856
B -1.821443  1.471085 -0.930878 -1.698123 -0.022130
D  1.413458  0.607788  1.964955 -1.023435 -0.453642
E -0.320758 -0.721270  0.771008  0.050287 -0.863321
F  0.324322 -0.274681  0.819158  1.661948  0.290702

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.741887  0.497219 -0.853438 -0.702500  0.284856
B -1.821443  1.471085 -0.930878 -1.698123 -0.022130
C       NaN       NaN       NaN       NaN       NaN
D  1.413458  0.607788  1.964955 -1.023435 -0.453642
E -0.320758 -0.721270  0.771008  0.050287 -0.863321
F  0.324322 -0.274681  0.819158  1.661948  0.290702

In [14]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [15]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.741887  0.497219 -0.853438 -0.702500  0.284856   NaN
B -1.821443  1.471085 -0.930878 -1.698123 -0.022130   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.413458  0.607788  1.964955 -1.023435 -0.453642   NaN
E -0.320758 -0.721270  0.771008  0.050287 -0.863321   NaN
F  0.324322 -0.274681  0.819158  1.661948  0.290702   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A  1.741887  0.497219 -0.853438 -0.702500  0.284856
B -1.821443  1.471085 -0.930878 -1.698123 -0.022130
D  1.413458  0.607788  1.964955 -1.023435 -0.453642
E -0.320758 -0.721270  0.771008  0.050287 -0.863321
F  0.324322 -0.274681  0.819158  1.661948  0.290702

In [18]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  1.741887  0.497219 -0.853438 -0.702500  0.284856   NaN
B -1.821443  1.471085 -0.930878 -1.698123 -0.022130   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.413458  0.607788  1.964955 -1.023435 -0.453642   NaN
E -0.320758 -0.721270  0.771008  0.050287 -0.863321   NaN
F  0.324322 -0.274681  0.819158  1.661948  0.290702   NaN