In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [2]:
#import pandas testing  utility
import pandas.util.testing as tm; tm.N = 3

#create an unpivoted function
def unpivot(frame):
        N,K = frame.shape
        
        data = {'value': frame.values.ravel('F'),
               'variable': np.asarray(frame.columns).repeat(N),
               'date': np.tile(np.asarray(frame.index),K)}
        #Return the DataFrame
        return DataFrame(data,columns=['date','variable','value'])
#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A -0.296507
1  2000-01-04        A  1.076878
2  2000-01-05        A  0.536569
3  2000-01-03        B -0.917781
4  2000-01-04        B  0.823778
5  2000-01-05        B -0.377310
6  2000-01-03        C  0.803904
7  2000-01-04        C  0.411646
8  2000-01-05        C  1.073325
9  2000-01-03        D  1.102179
10 2000-01-04        D -0.444164
11 2000-01-05        D  1.750575

In [4]:
dframe_piv = dframe.pivot('date','variable','value')
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.296507 -0.917781  0.803904  1.102179
2000-01-04  1.076878  0.823778  0.411646 -0.444164
2000-01-05  0.536569 -0.377310  1.073325  1.750575