In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                   index = pd.Index(['LA','SF'],name='city'),
                   columns=pd.Index(['A','B','C','D'],name='letter'))
dframe1
#by passing pd.Index, that allows you to also pass in a name for the index

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [3]:
dframe_st = dframe1.stack()
dframe_st
#st for stacked

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int32

In [4]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [5]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [6]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [7]:
#how do serires handle null values
ser1 = Series([0,1,2],index=['Q','X','Y'])
ser2 = Series([4,5,6],index=['X','Y','Z'])

In [8]:
ser1

Q    0
X    1
Y    2
dtype: int64

In [9]:
ser2

X    4
Y    5
Z    6
dtype: int64

In [17]:
dframe = pd.concat([ser1,ser2],keys=['Alpha','Beta'])
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [18]:
dframe.unstack()

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [19]:
dframe.unstack().stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [20]:
dframe = dframe.unstack()

In [21]:
dframe

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [22]:
dframe.stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [23]:
dframe.stack(dropna=False)

Alpha  Q     0
       X     1
       Y     2
       Z   NaN
Beta   Q   NaN
       X     4
       Y     5
       Z     6
dtype: float64

In [ ]:
#below this was me messing around

In [13]:
dframe = DataFrame(dframe)

In [14]:
dframe

         0
Alpha Q  0
      X  1
      Y  2
Beta  X  4
      Y  5
      Z  6

In [15]:
dframe.stack()

Alpha  Q  0    0
       X  0    1
       Y  0    2
Beta   X  0    4
       Y  0    5
       Z  0    6
dtype: int64

In [16]:
dframe.unstack()

        0
        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6