In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                   'k2': ['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.rand(5),
                   'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  0.604911 -0.301209  X  alpha
1  0.213440  1.531152  X   beta
2  0.706316 -1.174968  Y  alpha
3  0.760536 -0.247806  Y   beta
4  0.580364 -0.381551  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [4]:
group1.mean()

k1
X    0.409176
Y    0.733426
Z    0.580364
Name: dataset1, dtype: float64

In [5]:
cities = np.array(['NY','LA','LA','NY','NY'])

month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [7]:
dframe['dataset1'].groupby([cities,month]).mean()
#you can seemingly join these other arrays to the original dataframe in an ad-hoc fashion

LA  FEB    0.213440
    JAN    0.706316
NY  FEB    0.760536
    JAN    0.592638
Name: dataset1, dtype: float64

In [8]:
dframe.groupby('k1').mean()
#python seems to figure out what the number columns are and automatically does the math on only those

    dataset1  dataset2
k1
X   0.409176  0.614972
Y   0.733426 -0.711387
Z   0.580364 -0.381551

In [9]:
dframe.groupby(['k1','k2']).mean()
#this is pretty cool, that you can do multiple group bys at once then it displays it in a hierarchy

          dataset1  dataset2
k1 k2
X  alpha  0.604911 -0.301209
   beta   0.213440  1.531152
Y  alpha  0.706316 -1.174968
   beta   0.760536 -0.247806
Z  alpha  0.580364 -0.381551

In [10]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [11]:
dframe

   dataset1  dataset2 k1     k2
0  0.604911 -0.301209  X  alpha
1  0.213440  1.531152  X   beta
2  0.706316 -1.174968  Y  alpha
3  0.760536 -0.247806  Y   beta
4  0.580364 -0.381551  Z  alpha

In [12]:
for name, group in dframe.groupby('k1'):
    print "This is the %s group" % name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0  0.604911 -0.301209  X  alpha
1  0.213440  1.531152  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  0.706316 -1.174968  Y  alpha
3  0.760536 -0.247806  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  0.580364 -0.381551  Z  alpha

In [14]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print "key1 = %s Key2 = %s"%(k1,k2)
    print group
    print '\n'

key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0  0.604911 -0.301209  X  alpha


key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1   0.21344  1.531152  X  beta


key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.706316 -1.174968  Y  alpha


key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  0.760536 -0.247806  Y  beta


key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  0.580364 -0.381551  Z  alpha

In [13]:
dframe

   dataset1  dataset2 k1     k2
0  0.604911 -0.301209  X  alpha
1  0.213440  1.531152  X   beta
2  0.706316 -1.174968  Y  alpha
3  0.760536 -0.247806  Y   beta
4  0.580364 -0.381551  Z  alpha

In [15]:
group_dict = dict(list(dframe.groupby('k1')))
group_dict

{'X':    dataset1  dataset2 k1     k2
 0  0.604911 -0.301209  X  alpha
 1  0.213440  1.531152  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  0.706316 -1.174968  Y  alpha
 3  0.760536 -0.247806  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4  0.580364 -0.381551  Z  alpha}

In [16]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.604911 -0.301209  X  alpha
1  0.213440  1.531152  X   beta

In [17]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1
#displays the values by their datatypes

{dtype('float64'):    dataset1  dataset2
 0  0.604911 -0.301209
 1  0.213440  1.531152
 2  0.706316 -1.174968
 3  0.760536 -0.247806
 4  0.580364 -0.381551, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [18]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group

In [19]:
dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.301209
   beta   1.531152
Y  alpha -1.174968
   beta  -0.247806
Z  alpha -0.381551